@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	/* adapted from theme-ui, converted using https://oklch.com/ */
	--background: oklch(1 0 0);
	--foreground: oklch(0.3211 0 0);

	--primary: oklch(0.6078 0.1044 218.07);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.6078 0.1044 218.07);
	--secondary-foreground: oklch(1 0 0);
	--accent: oklch(0.7044 0.1704 54.51);

	--link: var(--primary);

	/* --muted: oklch(0.968 0.007 247.896); */
	/* same as grey-8 */
	--muted-foreground: oklch(0.5293 0.024 237.13);

	--white: oklch(1 0 0);
	--grey-0: oklch(0.9814 0.0011 197.14);
	--grey-1: oklch(0.9449 0.0025 228.79);
	--grey-2: oklch(0.908 0.0042 236.5);
	--grey-3: oklch(0.8646 0.006 239.83);
	--grey-4: oklch(0.8168 0.0087 236.59);
	--grey-5: oklch(0.7651 0.0115 234.87);
	--grey-6: oklch(0.7029 0.0144 233.84);
	--grey-7: oklch(0.6274 0.0187 242.59);
	--grey-8: oklch(0.5293 0.024 237.13);
	--grey-9: oklch(0.366 0.017 241.42);
	--black: oklch(0 0 0);

	--blue-1: oklch(0.9505 0.0226 229.08);
	--blue-2: oklch(0.9075 0.0319 230.27);
	--blue-5: var(--primary);
	--blue-8: oklch(0.467 0.0956 243.1);
	--blue-9: oklch(0.3627 0.0924 264.66);

	--radius: 0.5rem;
}

@theme inline {
	/* disable all default colors */
	--color-*: initial;

	/* corresponding color settings for above theme-ui colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--grey-1);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-link: var(--link);

	--color-border: var(--primary);
	--color-ring: var(--primary);

	--color-muted-foreground: var(--muted-foreground);

	--color-white: var(--white);
	--color-grey-0: var(--grey-0);
	--color-grey-1: var(--grey-1);
	--color-grey-2: var(--grey-2);
	--color-grey-3: var(--grey-3);
	--color-grey-4: var(--grey-4);
	--color-grey-5: var(--grey-5);
	--color-grey-6: var(--grey-6);
	--color-grey-7: var(--grey-7);
	--color-grey-8: var(--grey-8);
	--color-grey-9: var(--grey-9);
	--color-black: var(--black);

	--color-blue-0: var(--blue-0);
	--color-blue-1: var(--blue-1);
	--color-blue-2: var(--blue-2);
	--color-blue-5: var(--blue-5);
	--color-blue-8: var(--blue-8);
	--color-blue-9: var(--blue-9);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		font-family: Verdana, Geneva, sans-serif;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	body {
		@apply bg-background text-foreground;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	a {
		@apply text-link visited:text-link;
		@apply underline;
	}

	hr {
		@apply my-12 border-grey-3;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: 700;
	}
}

@utility container {
	max-width: 960px;
	margin-inline: auto;
	@apply px-2 md:px-0;
}
